.container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 55vh;
  min-height: 30rem;
}

.intro {
  margin-left: 12%;
}

.title {
  font-size: calc(1.4vw + 2rem);
  font-weight: 800;
  color: white;
}

.description {
  margin-top: calc(0.2vw + 0.5rem);
  color: rgb(210, 210, 210);
  font-size: calc(0.25vw + 0.9rem);
}

.tags {
  margin-top: 0.3rem;
  font-size: calc(0.2vw + 0.8rem);
  font-weight: lighter;
  letter-spacing: -0.05rem;
  color: rgb(180, 180, 180);
}

.square {
  position: absolute;
  width: calc(30vw + 20rem);
  height: calc(30vw + 20rem);
  z-index: -1;
  background-color:rgb(35, 35, 35);
}

@media (max-width: 540px) {
  .container {
    justify-content: center;
  }

  .intro {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .square {
    width: 70vw;
    height: 70vw;
  }
}