.container {
  margin: 4vh 0;
}

.information {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 800;
  font-size: calc(0.4vw + 1.2rem);
  transition: 0.5s;
}

.description {
  margin-top: 0.6rem;
  font-size: calc(0.2vw + 0.8rem);
  color: rgb(160, 160, 160);
}

.tags {
  display: flex;
  margin-top: 0.6rem;
}

.date {
  margin-top: 1.5rem;
  font-weight: lighter;
  font-size: calc(0.3vw + 0.6rem);
  color: rgb(160, 160, 160);
}

.container:hover {
  cursor: pointer;
}

.container:hover .title {
  color: rgb(200, 200, 200);
}
