.container {
  margin-bottom: calc(0.6vw + 1.4rem);
  transition: 0.3s;
}

.information {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bolder;
  font-size: calc(0.3vw + 1rem);
  transition: 0.5s;
}

.description {
  margin-top: 0.4rem;
  font-size: calc(0.2vw + 0.75rem);
  color: rgb(120, 120, 120);
  word-break: keep-all;
}

.tags {
  display: flex;
  margin-top: 0.45rem;
  gap: calc(0.2vw + 0.2rem);
  flex-wrap: wrap;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(0.1vw + 0.35rem);
  border-radius: 0.2rem;
  font-size: calc(0.2vw + 0.6rem);
  background-color: rgb(230, 230, 230);
  color: rgb(100, 100, 100);
}

.date {
  margin-top: 0.7rem;
  font-weight: lighter;
  font-size: calc(0.1vw + 0.6rem);
  color: rgb(120, 120, 120);
}

.container:hover {
  cursor: pointer;
  scale: 1.01;
}
