.container {
  padding-top: 4rem;
}

.title {
  font-size: calc(0.6vw + 1.5rem);
  font-weight: 900;
}

.posts {
  margin-top: calc(0.8vw + 1.2rem);
  min-height: calc(8vw + 30rem);
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 6rem;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(0.6vw + 1.6rem);
  height: calc(0.6vw + 1.6rem);
  border-radius: 50%;
  background-color: rgb(240, 240, 240);
  font-size: calc(0.2vw + 0.6rem);
  font-weight: lighter;
  text-align: center;
  transition: 0.5s;
}

.index:hover {
  background-color: rgb(210, 210, 210);
  cursor: pointer;
}
